<div class="container-fluid">
	<div class="row" style="height:60px; background: #19afbf;">
	{{nav_title}}
	</div>

	<div class="row">
		<div class="col-md-2">
      <div class="left-nav-menu">
        <ul>
          <li *ngFor="let m of menus" class="{{m.selected ? 'menuSelected' : '' }}" (click)="leftSideMenuClick(m);">
            <span>{{m.title}}</span>
          </li>
        </ul>
      </div>
		</div>
		<div class="col-md-10" style="min-height: 600px; background-color: #f8f8f8;">
		  <router-outlet></router-outlet>
      <div class="row" style="height: 20px;"></div>
		</div>
	</div>
</div>
